@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,100&display=swap');

$red-color: #E65C43;
$white-color: #FFF;
$grey-color: #666;
$headline-color: #F25C43;
$body-bg-img: '../images/bg.gif';
$logo-img: '../images/logo.png';
$footer-social-media-img: '../images/social-media.png';
$body-font: 'Roboto';
$footer-color-greybar: #F5F6F6;
$footer-color-bg: #30353D;